/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
:root{
  --overlay-color: hsla(0, 0%, 0%, 30%)
}
.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, var(--overlay-color), var(--overlay-color)),
        url('/img/react-binden-home-bg.jpg') black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons > a:first-child {
    margin-right: 10px;
}
